<!DOCTYPE html>
<html>
<head>
  <title>Tutorial for deploying a CNN model as a web application </title>

</head>

<body>
 
<h1>This image classification project is created by <span style="color:red;font-weight:bold">Sina Akbarian</span> </h1>
<br>
<br>
<br>
<br>
<h2>Please Upload Your <span style="color:blue;font-weight:bold">Image Here: </span> </h2>
<br>
<br>
<form action="/wait/" method=post enctype=multipart/form-data>
<input type="file" name="file" accept="image/*">
<input type="submit" value= "Prediction" >
</form>
		
</body>
</html>
